h1 {
    text-align: center;
    color: cornflowerblue;
  }
  .btn-primary{
    background-color: rgb(5, 81, 223);
    color: white;
    
  }
  #chiaFood{
    width: 30%;
    height: 30%;
  
  }
  #sadCat{
    width: 40%;
    height: 40%;
    
  }
  